@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

:root {
  --font-family: 'Outfit', sans-serif;

  --font-size: 15px;

  --color-white: hsl(0, 0%, 100%);
  --color-lightgrey: hsl(212, 45%, 89%);
  --color-grayishBlue: hsl(220, 15%, 55%);
  --color-darkBlue: hsl(218, 44%, 22%);
}
